body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

select {
    background: white;
    padding: 10px;
    border-radius: 4px;
    font-family: inherit;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }