<!DOCTYPE html>
<html ng-app="CompilerApp">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Compiladores 2019 - Lab 1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
</head>

<body>
  <h1>Lab 2: Analisador léxico</h1>
  <div ng-controller="Lab2Controller" style="display: flex; flex-direction: row; width: 100%; ">
    <div style="padding:10px">
      <h2>Escreva a cadeia (texto) de teste</h2>
      <textarea ng-change="on_sentence_change($event)" rows="10" cols="80" ng-model="sentence_input"
        style="max-width: 100%; padding: 10px">
          </textarea>
    </div>
    <div style="flex-grow: 1; padding: 10px;">
      <h2>Resultados</h2>

      <table>
        <tr>
          <th>Texto</th>
          <th>Tipo</th>
          <th>Atributo</th>
        </tr>
        <tr ng-repeat="token in sentence_tokens">
          <td>
            <pre>{{token['Texto']}}</pre>
          </td>
          <td>
            <pre>{{token['Tipo']}}</pre>
          </td>
          <td>
            <pre>{{token['Atributo']}}</pre>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <h1>Lab 3: Pretty-printer</h1>
  <h3>Digite à esquerda e a reformatação acontecerá simultaneamente à direita</h3>
  <div ng-controller="Lab3Controller" style="display: flex; flex-direction: row;">
    <div style="flex-basis: 1; flex-grow: 1">
      <h2>Código-fonte</h2>
      <textarea ng-change="onSourceChange($event)" ng-model="sentence_input"
        style="max-width: 100%; padding: 10px; width: 90%" id="lab3-source-code">
                    </textarea>
    </div>
    <div style="flex-basis: 1; flex-grow: 1">
      <h2>Código reformatado (ou erro)</h2>
      <textarea 
        style="max-width: 100%; padding: 10px; width: 90%" id="lab3-pretty-code" readonly=true>
                      </textarea>
    </div>
  </div>

  <script src="build/bundle.js"></script>
</body>

</html>